QWidget
{
	color: #e0e0e0;
	background-color: #222222;
}
QMainWindow, QDialog
{
	background-color: #222222;
}
QMdiArea
{
	color: #ffe0e0;
	background-color: #222222;
}
QTreeView
{
	background-color: #222222;
	border: 1px solid #333333;
	outline: 1px solid white;
}
QToolBar
{
	background-color: #222222;
	border: 1px solid #222222;
}
QMenuBar
{
	color: #ffffe0;
	background-color: #222222;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	font-size: 15px;
	padding-left: 5px;
	padding-top: 1px;
}
QMenuBar::item
{
	background-color: #222222;
	color: #ffffff;
	padding-left: 6px;
	padding-right: 7px;
	margin-top: 1px;
}
/*QMenuBar::item:selected
{
	border: 1px solid #404040;
	background: #404040;
}*/
QMenuBar::item:pressed {
     background: #666666;
 }

QMenu
{
	color: #eeeeee;
	background-color: #222222;
	border: 2px solid #444444;
}
/*QMenu::item {
     background-color: transparent;
 }*/
QMenu::item:selected
{
	color: #eeeeee;
	background-color: #666666;
}
QDockWidget
{
	color: #e0e0e0;
	titlebar-close-icon: url();
	icon-size: 13px;
	width: 13px;
}
QDockWidget::title
{
	text-align: left;
	padding-left: 4px;
	border: 1px solid #222222;
	icon-size: 13px;
	width: 13px;
	background-color: #333333;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
}
/*QDockWidget::close-button
{
	border: none;
	background-repeat: none;
	background-color: rgba(255, 255, 255, 0);
}
QDockWidget::close-button:hover
{
	border: none;
	background-repeat: none;
	background-color: rgba(255, 255, 255, 0);
}
QDockWidget::close-button:pressed
{
	border: none;
	background-repeat: none;
	background-color: rgba(255, 255, 255, 0);
}
QDockWidget::float-button
{
	border: none;
	background-color: rgba(255, 255, 255, 0);
}*/
QTabWidget::pane
{
	background-color: #333333;
	border-top: 1px solid #333333;
	border-left: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-right: 1px solid #333333;
}
QTabBar::tab
{
	border-top-width: 5px;
	border-bottom-width: 1px;
	border-left-width: 4px;
	border-right-width: 4px;
	/*height: 18px;*/
	padding-left: 9px;
	padding-right: 7px;
	color: #aaaaaa;
	background-color: #333333;
}
QTabBar::tab:selected
{
	border-top-width: 5px;
	border-bottom-width: 1px;
	border-left-width: 4px;
	border-right-width: 4px;
	/*height: 18px;*/
	padding-left: 9px;
	padding-right: 7px;
	color: #ffffff;
}
QPushButton {
	color: #ff00ff;
     background-color: #ff2222;
 }
QHeaderView::section {
	color: #eeeeee;
     background-color: #222222;
}
QTextEdit, QListView {
	color: #eeeeee;
     background-color: #222222;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
 }
QTableView {
	color: #eeeeee;
     background-color: #222222;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
 }
QTabBar::tear
{
	background: blue;
	background-color: yellow;
}
/*QPushButton
{
	padding: 0px 4px;
	border-width: 3px;
}
QProgressBar
{
	border-width: 3px;
	text-align: center;
}

QProgressBar::chunk
{
	width: 5px;
}*/

QScrollBar
{
	background: #333333;
	border-top: 1px solid #222222;
	border-left: 1px solid #222222;
	border-right: 1px solid #222222;
}
QScrollBar:horizontal {
     border: 2px solid #222222;
     background: #222222;
     height: 15px;
     margin: 0px 40px 0 0px;
 }

 QScrollBar::handle:horizontal {
     background: #333333;
     min-width: 20px;
 }

 QScrollBar::add-line:horizontal {
     background: #222222;
     width: 16px;
     subcontrol-position: right;
     subcontrol-origin: margin;
     border: 2px solid black;
 }

 QScrollBar::sub-line:horizontal {
     background: #222222;
     width: 16px;
     subcontrol-position: top right;
     subcontrol-origin: margin;
     border: 2px solid black;
     position: absolute;
     right: 20px;
 }

 QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
     width: 3px;
     height: 3px;
     background: #222222;
 }

 QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
     background: none;
 }
  QScrollBar:vertical {
      border: 2px solid #333333;
      background: #32CC99;
      width: 15px;
      margin: 22px 0 22px 0;
  }
  QScrollBar::handle:vertical {
      background: #444444;
      min-height: 20px;
  }
  QScrollBar::add-line:vertical {
      border: 2px solid #333333;
      background: #32CC99;
      height: 20px;
      subcontrol-position: bottom;
      subcontrol-origin: margin;
  }

  QScrollBar::sub-line:vertical {
      border: 2px solid #333333;
      background: #32CC99;
      height: 20px;
      subcontrol-position: top;
      subcontrol-origin: margin;
  }
  QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
      border: 2px solid #333333;
      width: 3px;
      height: 3px;
      background: #444444;
  }

  QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
      background: none;
  }
  
  
  
  QTabWidget::pane { /* The tab widget frame */
     border-top: 2px solid #C2C7CB;
 }

 QTabWidget::tab-bar {
     left: 5px; /* move to the right by 5px */
 }

 /* Style the tab using the tab sub-control. Note that
     it reads QTabBar _not_ QTabWidget */
 QTabBar::tab {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                 stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
     border: 2px solid #C4C4C3;
     border-bottom-color: #C2C7CB; /* same as the pane color */
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     min-width: 8ex;
     padding: 2px;
 }

 QTabBar::tab:selected, QTabBar::tab:hover {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                 stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
 }

 QTabBar::tab:selected {
     border-color: #9B9B9B;
     border-bottom-color: #C2C7CB; /* same as pane color */
 }

 QTabBar::tab:!selected {
     margin-top: 2px; /* make non-selected tabs look smaller */
 }
/*QScrollBar:vertical
{
	margin: 17px 0 17px 0;
}

QScrollBar::add-line:vertical
{
	/*height: 11px;
	border-width: 3px;
	/*subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
	/*height: 11px;
	border-width: 3px;
	/*subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
border: 2px solid #222222;
width: 3px;
height: 3px;
background: white;
}

QScrollBar::add-page, QScrollBar::sub-page
{
	background: none;
}*/